/* Global styles for the application, 
setting up full viewport height, 
removing default margins and paddings, 
and establishing a flexbox layout for the body and 
root container for consistent vertical expansion and alignment. */

html,
body,
#root {
  min-height: 100vh;
  max-height: max-content;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #0c0c0c;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
