html,
body,
#root {
  min-height: 100vh;
  max-height: max-content;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #0c0c0c;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
